<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 문장을 입력하세요 </h1>
    <form action= "{% url 'result' %}" method = 'POST'>{% csrf_token%}
        {% comment %} result url을 호출한다는 말이다 {% endcomment %}
        <input name='letter' placeholder ='문장을 입력하세요' />
        <br/>
        <br/>
        <button type='submit'>조회하기 > </button>
    </form>
</body>
</html>